In [12]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [6]:
import pyarrow.parquet as pq

In [7]:
df = pq.read_table('yellow_tripdata_2021-01.parquet')

In [9]:
trips = df.to_pandas()

In [18]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [22]:
from sqlalchemy import create_engine

In [24]:
conn = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
trips.tpep_pickup_datetime = pd.to_datetime(trips.tpep_pickup_datetime)
trips.tpep_dropoff_datetime = pd.to_datetime(trips.tpep_dropoff_datetime)

In [25]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data', con=conn))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)