In [1]:
import pandas as pd

In [2]:
!wget "https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv"

--2024-01-28 16:18:35--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.239.38.163, 18.239.38.181, 18.239.38.147, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.239.38.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-28 16:18:36 (48.4 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [3]:
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [1]:
import pyarrow.parquet as pq

In [2]:
df = pq.read_table('yellow_tripdata_2021-01.parquet')

In [3]:
trips = df.to_pandas()

In [6]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [6]:
from sqlalchemy import create_engine

In [7]:
conn = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
trips.tpep_pickup_datetime = pd.to_datetime(trips.tpep_pickup_datetime)
trips.tpep_dropoff_datetime = pd.to_datetime(trips.tpep_dropoff_datetime)

In [10]:
print(pd.io.sql.get_schema(trips, name='yellow_taxi_data', con=conn))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [9]:
df_zone.to_sql(name='taxi_zone_lookup', con=conn, if_exists='append')

265